html{
    font: 14px 'Nanum Gothic', sans-serif;;
}
.Pickup{
    position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -55%);
  -webkit-transform: translate(0, -55%);
  -moz-transform: translate(0, -55%);
  -ms-transform: translate(0, -55%);
  -o-transform: translate(0, -55%);
  @media screen and (min-width: 321px) {
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  }
    background-color: #eee;
    width: 400px;
    max-width: 80%;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
i{
    margin-right: 10px;
    vertical-align: center;
}
.place
.location-search-input{
    font-size: 1rem;
    padding-left: 5px;
    outline: none;
    border: none;
    width: 80%;
    background-color: unset;
}
.placeContainer{
    padding: 20px 0;
    padding-left: 5px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgb(180, 180, 180);
    background-color: rgba($color: white, $alpha: 0.1);
    input {
        font-size: 1rem;
        padding-left: 5px;
        outline: none;
        border: none;
        width: 80%;
        background-color: unset;
    }
    >.bodyFromTo {
        display: flex;
        flex-direction: column;
        >.txtFT {
            display: flex;
            flex-direction: column;
            >.FTDiv {
                display: flex;
                align-items: baseline;
                background: white;
                flex: 1;
            }
            >.flex1{
                flex:1;
                >.imgFromTo{
                    >.pl-2 {
                        padding-left: 1rem;
                    }
                }
                >.fromToDetails{
                    >.txtDetails {
                        font-size: 0.8rem;
                    }
                    >.grayColor{
                        color: gray;
                    }
                }
            }
            .confirmDiv{
                background: white;
                >.backFromTo{
                    >.selectFT {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        >.custom-selectFTelm {
                            flex: 2;
                            position: relative;
                            font-family: Arial;
                            display: flex;
                            justify-content: center;
                            >.elmFT{
                                >.txtPrice {
                                    font-size: 0.9rem;
                                    font-weight: bold;
                                }
                                >.txtDetails{
                                    font-size: 0.8rem;
                                }
                                
                            }
                        }
                        
                        >.selectFTelm {
                            flex: 3;
                            >.selectFTOptions {
                                border: none;
                                background: transparent;
                            }
                            
                        }
                        >.custom-selectFT select{
                            display: inline-flex; /*hide original SELECT element:*/
                        }
                    }
                }
            }
            >.nextFromTo.flex1{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                margin: 2%;
                >.backFTbtn{
                    >.btnBackFT {
                        border: none;
                        background: transparent;
                        display: flex;
                        align-items: baseline;
                    }
                }
                >.row{
                    >.register {
                        border-radius: 8px;
                        background: black;
                        display: flex;
                        align-items: center;
                        width: 160px;
                        justify-content: space-between;
                        >.white{
                            color: white;
                        }
                    }
                }
            }
           
        }
    }
}
/////////////////////////////////////////////////////// 


.select-selected {
    background-color: gray;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: gray transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent gray transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: gray;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    background-color: white;
    font-size: 0.8rem;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #fffffffc;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
// ///////////////////////////////  


// 
