
.coverInfo {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
}
.coverFormInput{
    width: 90%; 
    margin: 0 auto;
    display: block;
    padding: 0 10px;
}
.Form2 {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.selectGender input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.bg-input{
    display: none;
}
.enter1 {
    color: #343B4F;
    display: flex;
    padding-left: 20px;
    font-size: 1.1rem;
    align-items: flex-end;
    flex: 1;
}

.gender {
    width: 4rem;
}
.groupGender {
    flex: 1.5;
    >input[type="radio"]:checked+label{
        background-color: #bbb;
        border: solid 2px green;
        border-radius: 50%      ;
        -webkit-border-radius: 50%      ;
        -moz-border-radius: 50%      ;
        -ms-border-radius: 50%      ;
        -o-border-radius: 50%      ;
}
    
}

.selectGender{
    padding-left: 2rem;
}

/* Profile Pic */
.profilePic {
    width: 6rem;
}

/* Upload profile picture */
.groupUpload {
    display: flex;
    flex-direction: row;
}
.profile{
    flex: 2;
}
.imgPreview{
 
  >img{
    border-radius: 5px ;
    width: 100px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}
    
}
.male {
    background-image: url('./../../../../assets/img/male.png');
    display: inline-block;
    cursor: pointer;
}
.female{
    background-image: url('./../../../../assets/img/female.png');
    display: inline-block;
    cursor: pointer;
}
#male{
    display: none;
}
#female{
    display: none;
}
/* Button Next */
.selectGender input:active +.drinkcard-cc{opacity: .9;}
.selectGender input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:70px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.rightArrowImg {
    width: 55px;
}

.rightArrow1 {
    align-self: flex-end;
    flex:2;
}
.rightArrBtn{
    border: none;
    background: transparent;
    flex:2;
}
