.Toolbar {
    display: flex;
    justify-content: space-between;
    margin: auto;
    z-index: 100;
    background-color:white;
    >.LogoIcon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1.5;
    }
    >.headerRight {
        flex: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        >.genderHeader {
            flex: 1 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            >.imgGender{
                width: 40px;
            }
        }
        >.fullNameHeader {
            padding: 0 5px;
            display: flex;
            justify-content: left;
            align-items: center;
        }
        >.ToggleButton {
            flex: 0.5;
        }
        
    }
}

@media (min-width: 500px){
    .Toolbar{
        >.headerRight {
            flex: 1;
        }
    }
}
@media (min-width: 1000px){
    .Toolbar{
        >.headerRight {
            flex: 0.5;
        }
    }
}