
.pageContact {
    height: 80vh;
    background-image: url(./../../assets/img/bg-register.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    >.coverContact {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center; 
        >.FormContact {
            display: flex;
            flex-direction: column;
            .enter {
                color: #343B4F;
                display: flex;
                padding-left: 20px;
                font-size: 1.1rem;
                align-items: flex-end;
                flex: 1;
            }
            .inputValid{
                color: red;
                text-align: center;
            }
            .enterContact{
                align-items: center;
            }
            .contactP{
                padding-left: 1rem;
            }
            
            /* Form Input */ 
            /* Giong may Page truoc */
            .group-inline {
                padding: 8px;
                display: flex;
                flex: 0.5;
                align-items: center;
                flex-direction: row;
                margin: 3px;
            }
            .coverFormInput{
                box-shadow: 15px 15px 15px rgb(226, 226, 226);  
            }
            input[type="text"] {
                font-size: 0.8rem;
            }
            .form-control-contact {
                width: 100%;
                border: none;
                background: #fffffffc;
                display: flex;
                flex-direction: row;
                align-items: baseline;
            }
            input.inputCont {
                border: none;
                text-align: center;
            }
            
            
            .flex2{
                flex: 2;
            }
            
            .detailsContact {
                display: flex;
                flex-direction: column;
            }
            .resize-contact {
                color: #101010;
            }
            
            /* Selection */
            select {
                border: none;
                background: transparent;
                color: gray;
                font-size: 0.8rem;
            }
            /* Button Next */
            
            .rightArrow {
                align-self: flex-end;
                flex:2;
            }
            .rightArrBtn{
                border: none;
                background: transparent;
                flex:2;
            }
            
            /* CUSTOM SELECTION */
            
            /*the container must be positioned relative:*/
            .custom-select {
                position: relative;
                font-family: Arial;
                display: flex;
                flex: 1;
            }
            .select {
                flex: 1;
            }
            .groupSelect {
                display: flex;
                flex-direction: row;
                width: 87%;
            }
            >.custom-select select {
                display: none; /*hide original SELECT element:*/
              }
              
              .select-selected {
                background-color: gray;
              }
              
              /*style the arrow inside the select element:*/
             >.select-selected:after {
                position: absolute;
                content: "";
                top: 14px;
                right: 10px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-color: gray transparent transparent transparent;
              }
              
              /*point the arrow upwards when the select box is open (active):*/
              >.select-selected.select-arrow-active:after {
                border-color: transparent transparent gray transparent;
                top: 7px;
              }
              
              /*style the items (options), including the selected item:*/
              >.select-items div,.select-selected {
                color: gray;
                padding: 8px 16px;
                border: 1px solid transparent;
                cursor: pointer;
                user-select: none;
                background-color: white;
                font-size: 0.8rem;
              }
              
              /*style items (options):*/
              >.select-items {
                position: absolute;
                background-color: #fffffffc;
                top: 100%;
                left: 0;
                right: 0;
                z-index: 99;
              }
              
              /*hide the items when the select box is closed:*/
              .select-hide {
                display: none;
              }
              
              .select-items div:hover, .same-as-selected {
                background-color: rgba(0, 0, 0, 0.1);
              }
              .rightGroup.group-inline.coverFormInput.flex2 {
                width: 87%;
            }
        }
    }
}
@media (min-width: 500px){

    /* Page */
    .pageContact {
        >.coverContact{
            >.FormContact{
                > .detailsContact {
                    flex-direction: row;
                    >.rightGroup.group-inline.coverFormInput.flex2 {
                        width: 70%;
                    }
                }
               
                .coverFormInput {
                    box-shadow: -5px 5px 2px rgba(226, 226, 226, 0.37);
                }
            }
        }
    }
   
}
@media (min-width: 1000px){

    /* Page */
    .pageContact {
        >.coverContact{
            >.FormContact{
                > .detailsContact {
                    flex-direction: row;
                }
                .enter {
                    font-size: 2rem;
                }
                input[type="text"] {
                    font-size: 1.3rem;
                }
                
                .form-control {
                    height: 45px;
                    width: 600px;
                }
                p.selectGender {
                    font-size: 1.2rem;
                }
                .gender {
                    width: 5rem;
                }
                img.profilePic {
                    width: 8rem;
                }
                img.rightArrowImg {
                    width: 70px;
                }
                .profile {
                    flex: 0.4;
                }
            }
        }
    }

   
}

