html{
    font: 14px 'Nanum Gothic', sans-serif;;
}
.Pickup{
    position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -55%);
  -webkit-transform: translate(0, -55%);
  -moz-transform: translate(0, -55%);
  -ms-transform: translate(0, -55%);
  -o-transform: translate(0, -55%);
  @media screen and (min-width: 321px) {
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  }
    background-color: #eee;
    width: 400px;
    max-width: 80%;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
i{
    margin-right: 10px;
    vertical-align: center;
}
.place
.location-search-input{
    font-size: 1rem;
    padding-left: 5px;
    outline: none;
    border: none;
    width: 80%;
    background-color: unset;
}
.placeContainer{
    padding: 20px 0;
    padding-left: 5px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgb(180, 180, 180);
    background-color: rgba($color: white, $alpha: 0.1);
    input {
        font-size: 1rem;
        padding-left: 5px;
        outline: none;
        border: none;
        width: 80%;
        background-color: unset;
    }
    >.bodyTogo {
        display: flex;
        flex-direction: column;
        >.txt{
            >.office {
                display: flex;
                flex-direction: row;
                flex: 1 1;
                align-items: baseline;
                >.groupElm {
                    display: flex;
                    color: gray;
                    justify-content: center;
                }
                >.groupTxt {
                    flex: 5;
                    >.bold{
                        font-weight: 600;
                    }
                    >.details{
                            font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

.groupImg {
    display: flex;
    flex-direction: column;
    >.twoImg {
        display: flex;
        justify-content: space-around;
        >.elmImg{
            >.imgF{
                width: 100px;
                height: 50px;
                border-radius: 5px;
            }
        }
    }
}
.btnBackFT {
    border: none;
    background: transparent;
    display: flex;
    align-items: baseline;
}
.friend{
    >.groupFriend {
        display: flex;
        >.friendGroup{
            margin: auto;
            background: white;
            border-radius: 5px;
            border: 5px solid white;
            >.txtFriend{
                >.name{
                    font-size: 0.9rem;
                }
                >.Dha{
                    font-size: 0.7rem;
                }
            }
        }
    }
}

