.pageCare {
    height: 80vh;
    background-image: url(./../../../assets/img/bg-register.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coverCare {
    background-color: #ffffffeb;
    display: flex;
    height: 75vh;
    width: 90vw;
    flex-direction: column;
}
.howUberCare {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    height: 73vh;
}

/* How uber work? */
p.atUber {
    font-size: 1.2rem;
}
.how {
    width: 90%;
}
p.uberPut {
    color: #0e0e0e;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 600;
}
/* 3 contain */
.thirdStep {
    width: 90%; 
    font-size: 0.9rem;
    text-align: justify;
}
.titleBold {
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.elm {
    font-family: 'Montserrat', sans-serif;
    color: #989898;
    font-size: 0.8rem;
}
@media (min-width: 1000px){

    /* Page */
    .howUberCare {
        padding-left: 2%;
        align-items: flex-start;
        overflow-y: hidden;
        height: 76vh;
    }
    .thirdStep {
        text-align: left;
        width: 95%;
    }
    p.atUber {
        font-size: 2rem;
        width: 35%;
    }
    p.uberPut {
        text-align: left;
        font-size: 0.7rem;
    }
    .coverAllTitle {
        display: flex;
        flex-direction: column;
    }
    .titleBold {
        font-size: 0.9rem;
    }
    p.elm {
        font-size: 0.7rem;
    }
    .coverCare {
        width: 95vw;
    }
    .how {
        width: 97%;
    }
}