.coverNum {
    background-color: #ffffffe6;
    align-items: center;
    width: 300px;
    >.Form {
        display: flex;
        flex-direction: column;
        height: 300px;
        >.Enter {
            display: flex;
            align-items: center;
            margin: auto;
            width: 250px;
            flex: 1;
            >.digit{
                >p>.correct{
                    color: #399ef7;
                }
            }
        }
        >.numbers {
            display: flex;
            flex-direction: row;
            height: fit-content;
            width: 300px;
            flex: 1;
        }
        >.securityNum {
            display: flex;
            justify-content: center;
        }
        >.didnt{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            padding-bottom: 20px;
            flex: 1;
            >.code{
                >.receiveCode {
                    text-decoration: none;
                    color: #399ef7;
                    font-weight: 400;
                }
            }
            >.nextBtn{
                >.btnArr{
                    background: transparent;
                    border: none;
                    >.ImgArr{
                        height: 65px;
                    }
                }
            }
        }
    }
}

/* 4 digits */

.num {
    flex: 1 1;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    background: #fefbfb;
    width: 70%;
    border: none;
}


